* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
}

h1 {
    text-align: center;
    margin: 30px;
}

.row {
    width: 100%
}

.menu1 {
    border: solid black 3px;
    background-color: #a9a9a9;
    position: relative;
    padding-top: 45px;
    padding-left: 10px;
    margin: 20px;
}

.menu1 h3 {
    border: solid black 2px;
    border-top: 0px;
    border-right: 0px;
    background-color: #ce8483;
    position: absolute;
    top:0px;
    right:0px;
    padding: 3px 40px;
}


.menu2 {
    border: solid black 3px;
    background-color: #a9a9a9;
    position: relative;
    padding-top: 45px;
    padding-left: 10px;
    margin: 20px;

}

.menu2 h3 {
    border: solid black 2px;
    border-top: 0px;
    border-right: 0px;
    background-color: #ce1215;
    color: white;
    position: absolute;
    top:0px;
    right:0px;
    padding: 3px 53px;
}

.menu3 {
    border: solid black 3px;
    background-color: #a9a9a9;
    position: relative;
    padding-top: 45px;
    padding-left: 10px;
    margin: 20px;
}

.menu3 h3 {
    border: solid black 2px;
    border-top: 0px;
    border-right: 0px;
    background-color: #ffdc71;
    position: absolute;
    top:0px;
    right:0px;
    padding: 3px 50px;
}

@media (min-width: 992px) {
    .col-lg-4 {
        float: left;
        width: 33.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        float: left;
        width: 50%;
    }
    .col-md-12 {
        float: left;
        width: 100%;
    }

}
